*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  background: #F2EEFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 0.25s;
}

#root {
  min-height: 100vh;
}
