*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  background: #080C14;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
